<table class="table">
                <thead>
                  <tr>
                     <th scope="col">*</th>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of membersArray">
                    
                    <td><img src="{{member.picture}}" width="64px" alt=""></td>
                    <td>{{member.pseudo}}</td>
                    <td>@{{member.first_name}}</td>
                    <td>{{member.last_name}}</td>
                    <td>{{member.online}}</td>
                  </tr>
               
                </tbody>
  </table>
               