
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
  width: 40px;
}

a{
  color: white;
}


.infos {
  display:flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items: center;


}

img {
  width: 46px;
  border-radius: 50%;
  padding-right: 10px;
}