<div class="container-fixe">
    <div>
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>
                {{userData.first_name}}
                {{userData.last_name}}
                    </mat-card-title>
              <mat-card-subtitle>
                {{userData.pseudo}}
                <img src=" {{userData.picture}}" alt="">
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </div>
    
    <mat-card class="example-card">
        <article >
          <form class="example-form" #commentF="ngForm" (submit)="posted();commentF.reset()" >
        <mat-form-field>
          <input matInput placeholder="titre du message" name="title" id="titre" [(ngModel)]="comment.title" required >
        </mat-form-field>
         <br>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Poster un commentaire......" name="comment" [(ngModel)]="comment.content"></textarea>
        </mat-form-field>
         <br>
        <button type="submit" mat-fab color="accent" [disabled]="!commentF.form.valid">Poster
     
        </button>
  
    </form>
          
      </article>
      </mat-card>

      <div class="request">
        <form class="example-form" #search="ngForm" >
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                recherche de membre
              </mat-panel-title>
              <mat-panel-description>
          
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <input matInput placeholder="nom, prenom ou pseudo" name="name" [(ngModel)]="keyword.name" 
              >
              
            </mat-form-field>
            <button type="submit" mat-button color="primary" (click)="searchfriend()" >OK</button>

            <mat-list *ngFor="let member of resultList">
              
                <mat-list-item> 
                 <form class="example-form" >
                    <mat-form-field>
                      <input matInput name="_id" [ngModel]="member._id">
                    </mat-form-field>
                    <img src=" {{userData.picture}}" alt=""> {{member.first_name}} {{member.pseudo}} 
                    
                    <button type="submit" mat-button (click)="sendInvitationrequest(member)" >value</button>
                  </form>
                 </mat-list-item>
      
               </mat-list>
            
        
            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
        
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Demandes d'ajout
              </mat-panel-title>
              <mat-panel-description>
                Liste des demandes d'ajout
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <input matInput placeholder="Country">
            </mat-form-field>
        
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
            </mat-action-row>
          </mat-expansion-panel>
        
        
        
        </mat-accordion>
      </form>
      </div>
      
     


    </div>




<div class="container">
  
    <mat-card class="example-card" *ngFor="let comment of comments">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="{{comment.authorPicture}}" style="width: 46px;" alt="">
        </div>
        <mat-card-title>{{comment.author }} </mat-card-title>
        <mat-card-subtitle> Posté le  {{ comment.date| date:'dd-MM-yyyy à HH:mm' }}</mat-card-subtitle>
      </mat-card-header>
      <h4> {{comment.title}}</h4>
     
      <mat-card-content>
        <p>
          {{comment.content}}
        </p>
      </mat-card-content>
     
    </mat-card>
  </div>


<!-- <app-comments></app-comments> -->
