.card {
    width: 200px;
  }

  .container-fixe {
   
      margin-top: 2%;
      display:flex;
      flex-flow: row wrap;
      justify-content: space-around;
  }


  .example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-list-item  img {
  width: 46px;
  border-radius: 50%;
  padding-right: 10px;
}


.example-card {
  width: 300px;
  height: 100%;
  margin-bottom: 40px;
  padding-bottom: 40px;
  background-color: ivory
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  padding-left: 25%;

}