
.mat-tab-group {
  
  margin-top: 15%;
  padding-bottom: 20px;
  color: black;
  height: 100%;
} 

form{

  padding-bottom: 20px;
  align-items: center;
}


.container {
 
  width: 100%;
  display: flex;
  flex-flow: row wrap;

}

.login{
  width: 40%;
  display: flex;
  flex-flow: column nowrap;

}