


.wrapper{
    display: flex;
    flex-direction: column;            
    height: 100vh;
    overflow: hidden;
  }
  
  .header{
    flex: 0 0 auto;  
    background: #aaa;
  }
  .content{
    flex: 1 1 auto;     
    overflow-y: auto;     
  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *:after,
  *:before{
    box-sizing: border-box;
  }