<mat-list>
        <mat-list-item *ngFor="let message of messages">
          <img matListAvatar src="..." alt="...">
          <h3 matLine> {{message.from}} </h3>
          <p matLine>
            <span> {{message.subject}} </span>
            <span class="demo-2"> -- {{message.content}} </span>
          </p>
        </mat-list-item>
      </mat-list>