<app-header></app-header>
<div class="container">
<mat-tab-group>
    <mat-tab label="Information du compte"> 

      <form class="example-form" form #info="ngForm">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Prenom"  disabled value="{{user.first_name}}">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nom"  disabled value="{{user.last_name}}" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput name="email" [(ngModel)]="user.email" placeholder="Email" 
           [formControl]="email" 
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
           (keyup)="checkEmail()"
           required >
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint *ngIf="!email.invalid"><span style="color: red">{{emailAvailable}}</span></mat-hint>

        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput #pseudo minlength="5" maxlength="10" name="pseudo" [(ngModel)]="user.pseudo" placeholder="Pseudo" (change)="checkPseudo()"
           required>
           <mat-hint align="end">{{pseudo.value.length}} / 5  -
                  
              <span style="color:green"> {{pseudoEnable}}   </span>
               <span style="color: red">{{pseudoNotEnable}}</span>
             
              </mat-hint>
        </mat-form-field>
        <button mat-button color="primary" [disabled]="!info.form.valid || email.invalid" (click)="update()" >Mettre à jour </button>
    
      </form>
    
</mat-tab>

    <mat-tab label="Mot de passe">
        <form class="example-form" form #passF="ngForm">
        <mat-form-field>
            <input  matInput placeholder="Nouveau mot de passe" [(ngModel)]="password" required name="password"  [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="!hide = hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field>
              <input matInput placeholder="Confirmez le mot de passe" [(ngModel)]="retype_password" required name="retype_password"  [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="!hide = hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-error>
              {{error}}
            </mat-error>
            <button mat-button color="primary" [disabled]="!passF.form.valid" (click)="passwordUpdate();passF.reset()" >Mettre à jour </button>

          </form>
    </mat-tab>
   
    <mat-tab label="Photo"> Content 3 
     mettre a jour votre photo de profil
      <image-upload></image-upload>


    </mat-tab>
  </mat-tab-group>

</div>