

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #sidenav [mode]="over" color="primary">
    
    <mat-toolbar color="primary">
        <p><button *ngIf="getUserState()" mat-button (click)="sidenav.toggle()">Mon espace</button></p>
      </mat-toolbar>
  </mat-sidenav>
  <mat-toolbar color="primary">
     
  </mat-toolbar>
  <mat-sidenav-content color="primary">
      <mat-toolbar color="primary">
          <button *ngIf="getUserState()" mat-button (click)="sidenav.toggle()">Menu</button>
          
      </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>


