/*
.member {

  position: absolute;
  display: flex;
  flex-flow: row;

}
 */

.picture img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.mat-panel-description{
  margin: 10px;
}

.rounded{

  width: 70px;
  height: 70px;

}
/* .friends{
  position: absolute;
 padding-left:70%;
 max-width: 400px;
margin-right: 50px;
} */
 /*  .container-fixe {

      margin-top: 2%;
      display:flex;
      flex-flow: row wrap;
      justify-content: space-around;
  } */


  .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-list-item  img {
  width: 46px;
  border-radius: 50%;
  padding-right: 10px;
}

mat-list-item{

  display: inline;
}


.example-card {

  width: 400px;
  padding-bottom: 100px;
  margin-bottom: 20px;

}

.card{
  width: 80%;
  padding-bottom: 20px;
}

.menuside{

  width: 20%;

}

.myspace{

display: flex;
flex-flow: row wrap;


}
/* .container {
  display: flex;
  flex-flow: column wrap;
 align-items: center;
 justify-content: space-between;

  margin-bottom: 2%;


} */

/* chat ------*/





/* .wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header{
  flex: 0 0 auto;
  background: #aaa;
}
.content{
  flex: 1 1 auto;
  overflow-y: auto;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:after,
*:before{
  box-sizing: border-box;
} */
