
<app-header></app-header>

<mat-card class="example-card">
    <form #password="ngForm">
<p> Veuillez indiquer votre adresse Email pour envoi  du mot de passe.  </p>

<mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="userData.email" name="email"  [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}} {{message}}</mat-error>
</mat-form-field>
<br>
 <button mat-raised-button [disabled]="!email.valid"  (click)="passwordRetrival()">Envoyer</button>
</form>
</mat-card>
