
<app-header></app-header>


<div class="container">
                    


 <div class="col s6" *ngIf=!isMember>
   <p>Visiteurs : <a routerLink="/login">Creer un compte</a>  pour poster des messages et discuter avec vos amis</p>
 </div>
</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">

      <div class="col-lg-3">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-users fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading">{{membersArray.length}}</p>
                <p class="announcement-text">Membres</p>
              </div>
            </div>
          </div>
      
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-comments fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading">{{commentsArray.length}}</p>
                <p class="announcement-text"> Nombre de posts</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div><!-- /.row -->
    </div>

<!-- <div class="container">
  

  <mat-card class="example-card" *ngFor="let comment of commentsArray">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img src="{{comment.authorPicture}}" style="width: 46px;" alt="">
      </div>
      <mat-card-title>{{comment.author }} </mat-card-title>
      <mat-card-subtitle> Posté le  {{ comment.date| date:'dd-MM-yyyy à HH:mm' }}</mat-card-subtitle>
    </mat-card-header>
    <h4> {{comment.title}}</h4>
   
    <mat-card-content>
      <p>
        {{comment.content}}
      </p>
    </mat-card-content>
   
  </mat-card>
</div> -->

