.card-image > img  {
    width: 128px;
  height: 128px;
}

#stats{
  padding-top: 30px;
  position: fixed;
  max-width: 400px;
 left: 70%;
}

.example-card {
  max-width: 400px;
  height: 100%;
  margin-bottom: 40px;
  padding-bottom: 40px;
  background-color: ivory
}

.example-header-image {

  background-size: cover;
}
.mat-card-actions {
  margin-bottom: 30px;
}
.container {
  padding-left: 25%
}
span {
  padding: 25px;
  
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-toolbar{
  position: fixed;
  height: 30px;
}

.card {
  position: absolute;
  margin-left: 60%;
  top:15%
}

.test{
  padding: 10px
}