<mat-card class="example-card">
    <article >
      <form class="example-form" #commentF="ngForm" (submit)="posted();commentF.reset()" >
    <mat-form-field>
      <input matInput placeholder="titre du message" name="title" id="titre" [(ngModel)]="comment.title" required >
    </mat-form-field>
     <br>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Poster un commentaire......" name="comment" [(ngModel)]="comment.content"></textarea>
    </mat-form-field>
     <br>
         
    <button type="submit" mat-fab color="accent" [disabled]="!commentF.form.valid">Poster
     
    </button>

</form>
      
  </article>
  </mat-card>