
  <form #register="ngForm"class="example-form">
    
    
      <table class="example-full-width" cellspacing="20">
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput [(ngModel)]='user.first_name' name="first_name"  required  placeholder="Prénom">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input matInput [(ngModel)]='user.last_name' name="last_name"  required  placeholder="Nom">
        </mat-form-field></td>
      </tr>
    
      <tr>
        <td>
            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="user.email" name="email"  [formControl]="email" 
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                required  (keyup)="checkEmail()">
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                <mat-hint *ngIf="!email.invalid"><span style="color: red">{{emailAvailable}}</span></mat-hint>
                
              </mat-form-field>
              

        </td>
        <td>
            <mat-form-field>
                <input  #password minlength="6" matInput placeholder="Choix du mot de passe" [(ngModel)]="user.password" required name="password"  [type]="hide ? 'password' : 'text'">
                <mat-hint align="end">{{password.value.length}} / 6</mat-hint>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
         </mat-form-field>
        </td>
      </tr>
  
       <tr>
         <td>
            <mat-form-field>
                <mat-select classe="example-form" placeholder="Genre" [(ngModel)]="user.gender" name="genre" value="user.gender" required>
                    <mat-option selected value="femme">Femme</mat-option>
                    <mat-option value="homme">Homme</mat-option>
                  </mat-select>
            </mat-form-field>
         </td>
          
         <td>
            <mat-form-field>
                <input type="text" matInput #pseudo minlength="5" maxlength="10" placeholder="Choix du pseudo" [(ngModel)]="user.pseudo" (change)="checkPseudo()" required name="pseudo">
                <mat-hint align="end">{{pseudo.value.length}} / 5  -
                  
                   <span style="color:green"> {{pseudoEnable}}   </span>
                    <span style="color: red">{{pseudoNotEnable}}</span>
                  
                   </mat-hint>
                
         </mat-form-field>
         

         </td>


       </tr>
        
       
    
  
     <tr>
        <td>
            <mat-form-field class="example-full-width">
                <input matInput [min]="minDate" [max]="maxDate" name="dateNaissance" [(ngModel)]="user.dateNaissance"  [matDatepicker]="picker" placeholder="Date de Naissance" required>
                <mat-datepicker-toggle matSuffix   [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> 
          
          
          
          
         <!--  <mat-form-field class="example-full-width">
          <input type="date" [min]="minDate" [max]="maxDate" matInput placeholder="Date de Naissance" required>
        </mat-form-field> --></td>
    
      </tr>
    </table>
      
      <button mat-raised-button color="primary" [disabled]="!register.form.valid ||email.invalid || pseudoNotEnable || emailAvailable"  (click)="registerUser()" routerLink="/member_space/{{user.pseudo}}">S'enregistrer</button>

    </form>
    
